a.main-a[title]:hover:after{
    content: attr(title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0; 
    top: 100%;
    white-space: nowrap; 
    z-index: 20px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);  
}
.show {
    display: block !important;
}
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden;
}
.div-padding-top{
    padding-top: 3em;
    clear:both;
}
html, body{

    /*12px*/ 
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow:auto;
}
input.no-select:focus{
    outline-width: 0;
}
html>body .content {
    height:auto;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.carousel-indicators li, #newsUl li, #eventsUl li{
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}
.container {
    /*display: none;*/
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    min-height: 100%;
    width: auto;
}
.row{
    margin-right: 0; 
    margin-left: 0; 
}
hr{padding-top:0; margin-top: 0}

/*Logo image*/ 
.logo img{
    width: auto;
    max-width: 15.625rem;
    max-height: 5.625rem;
    box-sizing: content-box;
    border: 1.72vw solid #fff;
    padding: 0px;
}

.carousel-inner>.carousel-item>a>img, .carousel-inner>.carousel-item>img {
    /*line-height: 1;*/
    /*width: 100%;*/
/*    height: 35rem;*/
    /*border: 0px;*/
}
.ARAseal{
    opacity: .1;
    min-height: 35em;
    background-size: 25rem;
    background-image:url('/images/logo.JPG');
    background-repeat: no-repeat; 
    /*    background-position: top center ; */
    background-position: 50% 50%;
}
/*endof logo image*/ 

.list-group{
    box-shadow:  0px;
    -webkit-box-shadow: 0 0px 0px  #232323 ;
}

.right-border-highlight{
    border-right: 1px solid  #232323;
}
/*news, event tabs*/
.newsItem:hover, .eventItem:hover{
    color: #0074d9;
}

.toggle{
    /*background-color: #E6FB04;*/
    background-color: #fff;
}
/*end of news tabs*/