//footer sticks at the bottom
div#footer.col-sm-12.div-padding-top
    div.col-sm-2
    div.col-sm-3
        div.row.footer-logo
            img(style="padding:0px;" src="/images/logo.JPG")
        div.row
            address
                strong Ar Raheem Academy
            address
                a(href="/register") Registration Now
                br
                span 11 Wall St. Waltham, MA 02453
                br
                i arraheemacademy@gmail.com
            address
                span Waltham, MA 02453
                br
                abbr P:
                span (508)404-3820
                br
                abbr P:
                span (781)308-5610


    div.col-sm-3.no-xs-mobile
        div.row
            ul.footer-list-group-item
                label MENU
                li
                    a(href="/about")
                        span About
                li
                    a(href="/studies")
                        span Academic Studies
                li
                    a(href="/courses")
                        span Islamic Courses
                li
                    a(href="vision")
                        span Our Vision
    div.col-sm-4 
    
    div(style="bottom: 0; position:absolute; right:1.3em")
        label  &#169; Copyright 2016 Talik Kasozi